/*
 * Styles for use by idMyGadget code
 */
/*
 * For all devices
 */
.site-name-phone,
.site-name-tablet,
.site-name-desktop {
	display: inline;
}
.site-title-phone,
.site-title-tablet,
.site-title-desktop {
	display: inline;
}
img#hamburger-icon-image-left,
canvas#hamburger-icon-canvas-left {
	display: inline;
	float: left;
	margin: 0.25em;
	padding: 0.25em;
}
img#hamburger-icon-image-right,
canvas#hamburger-icon-canvas-right {
	display: inline;
	float: right;
	margin: 0.25em;
	padding: 0.25em;
}
/*
 * Styles used for phones
 */
img.logo-file-phone {
	display: inline;
	float: left;
	height: 50px;
	margin: 0.5em;
	padding: 0.5em;
	width: 50px;
}
.site-name-phone {
	text-align: left;
	vertical-align: left;
}
.site-title-phone,
.site-description-phone {
	margin: 0.5em;
	padding: 0.5em;
	text-align: left;
	vertical-align: left;
}
/*
 * Styles used for tablets
 */
img.logo-file-tablet {
	display: block;
	width: 100%;
}
/*
 * Styles used for the error message
 */
div.idmygadget-error {
	background-color: white;
	border: solid 2px red;
	color: red;
	margin: 1em;
	padding: 1em;
}
a.idmygadget-error {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}
a.idmygadget-error:hover {
	color: blue;
	text-decoration: underline;
}
span.idmygadget-error {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

