/*
 * Styles for use by idMyGadget code
 */
div.idmygadget-error {
	background-color: white;
	border: solid 2px red;
	color: red;
	margin: 1em;
	padding: 1em;
}
a.idmygadget-error {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}
a.idmygadget-error:hover {
	color: blue;
	text-decoration: underline;
}
span.idmygadget-error {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

img.logo-file-phone {
	display: inline;
	float: left;
	height: 50px;
	width: 50px;
}
img.logo-file-tablet {
	display: inline;
	float: left;
	height: 100px;
	width: 100px;
}
.site-name-phone, .site-title-phone {
	display: inline;
	text-align: left;
	vertical-align: left;
}
